<!--	<mat-card class="col-4 example-card" (click)="goToTradeDetail(publication._id)">
	<div class="row">
		<div class="col-4"   *ngFor="let publication of _userTrades">
			<mat-card-header> 
		<div mat-card-avatar class="example-header-image">
			<img style="width: 45px" class="profil_publication" src="{{picturUsereUrl}}">
		</div>
		<mat-card-title>{{_norrUser?.lastName}}&nbsp;{{_norrUser?.firstName}}</mat-card-title>
		<mat-card-subtitle>Published&nbsp; &#8226; &nbsp;{{publication.creationDate | date:'medium'}} </mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
	
		<img mat-card-image class="_trades" [src]="getPicture(publication)" alt="Photo of a Shiba Inu">
	</mat-card-content>
		</div>
	</div> -->
	<!--<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>	-->																					

<div class="row" style="padding-right: 9px;padding-left: 9px">
	<mat-card class="col-4 example-card" *ngFor="let publication of _userTrades" (click)="goToVideoPage(publication._id)">
		<mat-card-header> 
		</mat-card-header>
		<video src="" [poster]="getPicture(publication)" class="video_profil">
				
		</video>
		<mat-card-content style="padding: 6px"> 
			<div class="video_title" >
				<mat-card-title>Video Title</mat-card-title>
			</div>
			<div class="video_description" >
				<mat-card-subtitle>video_descriptiond        grzgrgrzgrf</mat-card-subtitle>
			</div>
		</mat-card-content>
		<mat-card-actions>
		<p>300 views</p> 
	</mat-card-actions>
	</mat-card>
</div>

<div *ngIf="_userTrades?.length>5" >
	<mat-paginator #__paginator style="background-color: #fafafa"  [length]="totalCount"
      [pageSize]="6"
      [pageSizeOptions]="[6,12,24]"
      (page)="pageEvent = loadTrades($event)">
	</mat-paginator>
</div>
<div class="row" *ngIf="_userTrades?.length==0"> 
		<div class="col-3">
			 
		</div>
		<div class="col-6" style="margin-top: 88px;">
			<div class="col-12">
				<span style="font-size: 16px; color:  #ccc ">Aske {{_norrUser?.lastName}}&nbsp;{{_norrUser?.firstName}} to publish videos</span>
			</div>
		</div>
		<div class="col-3">
			 
		</div> 
</div> 