	<div class="sub-toolbar">  
	    <div class="sub-menu">
	      <a href=""> NorrLab</a> /

	      <a href=""> Video edition</a>
	    </div>
	</div>

	<div class="col-12 up-mat_success" > <!-- [disabled]="__openCmtEdito" -->
		<button (click)="undoChanges()" class="mat_success_undo" style="z-index: 999" mat-flat-button >UNDO CHANGES</button>
		 <button (click)="saveChanges(videoToUpdate)" mat-flat-button class="mat_success">SAVE</button> 
	</div>	
<mat-tab-group>
  <mat-tab label="Basic">
  	<div class="container_video_edit"> 
  			<div class="row"> 
				<div class="col-6">
					<div class="norr-lab-mat-card"> 
						<div class="in_title"> 
			         		<div class="col-6">
			         			<span class="in_title_6_1">Title (required)</span>	&nbsp;<mat-icon matTooltip="A catchy title can help you hook viewers. When you create video titles, it's a good idea to include keywords that your audience is likely to use when looking for videos like yours."
			         			[matTooltipPosition]="'above'"class="help_in_title_6_1" (click)="infoTitle()">help_outline</mat-icon>
			         		</div> 
			         	</div>
			         	<div role="textarea" [textContent]="videoToUpdate.videoTitle" contenteditable="true" class="col-12 textarea_title"  #textarea tabindex="1" (input)="videoToUpdate.videoTitle=$event.target.innerText">
			         		
	         			</div>
			         	<div class="col-12" style="text-align: end; font-size: 12px;color: #ccc">
			         			{{videoToUpdate.videoTitle.length}}/30
			         	</div>
					</div>

					<div class="norr-lab-mat-card"> 
						<div class="in_title">
			         		<div class="col-6">
			         			<span class="in_title_6_1">Description</span>	&nbsp;<mat-icon matTooltip="Writing descriptions with keywords can help viewers find your videos more easily through search. You can give an overview of your video and place keywords at the beginning of the description."
			         			[matTooltipPosition]="'above'" class="help_in_title_6_1" (click)="infoDescription()">help_outline</mat-icon>
			         		</div> 
			         	</div>
			         	<div role="textarea" contenteditable="true" class="col-12 textarea_title" placeholde="dome" #textarea
			         	[textContent]="videoToUpdate.videoDescription" tabindex="1" (input)="videoToUpdate.videoDescription=$event.target.innerText"> 
	         			</div>
			         	<div class="col-12" style="text-align: end; font-size: 12px;color: #ccc">
			         			{{videoToUpdate.videoDescription.length}}/130
			         	</div>
					</div>
					<div class="norrthumbnail" style=" padding-top:  9px"> 
						<div > 
								<p> <span class="thumb_title"> Thumbnail</span> <br> 
Select or upload a picture that shows what's in your video. A good thumbnail stands out and draws viewers' attention</p>
						</div>
					</div>	
					<div class="thumbnail_video"> 
						<ul class="video_poster row"> 
							<li class="video_poster_li col-3">
								<div matTooltip="Choose the thumbnail that best represents your video. To be able to add custom thumbnails your account needs to be verified and in good standing."
			         			[matTooltipPosition]="'above'"  class="poster_example_one" (click)="uploadThumbnail()">  
								<!--		<mat-icon matTooltip="A catchy title can help you hook viewers. When you create video titles, it's a good idea to include keywords that your audience is likely to use when looking for videos like yours."
			         			[matTooltipPosition]="'above'"class="help_in_title_6_1" (click)="infoTitle()">help_outline</mat-icon> -->
									<mat-icon style="color:#ccc">add_photo_alternate</mat-icon>
									
								</div>		
							</li> 
							<li class="video_poster_li col-3" *ngFor="let g of [1,2,3] "> 
								<div> 
									<img class="poster_example" src="{{videoToUpdate && videoToUpdate.videoPoster? videoToUpdate.videoPoster:''}}">
								</div>		
							</li>
						</ul>		
					</div>
					<div class="norr-lab-mat-card"> 
						<div class="in_title">
			         		<div class="col-6">
			         			<span class="in_title_6_1">Tags</span> 
			         		</div> 
			         	</div> 
			         	<div class="col-12" style="font-size: 12px;color: #ccc;text-align: 	center;">
			         		 	
			         	</div>
					</div>	
				</div>
				<div class="col-6">  
					<div>  
						<video class="video_to_edit"  src="{{videoToUpdate.videoUrl}}"> 
								
						</video>
					</div>
					<div class="video_properties"> 
						<div class="video_properties_link_title">
							<p>  Video link</p>
						</div>
						<div class="video_properties_link">
							<a (click)="watchvideo(videoToUpdate._id)">
								{{page.url}}
							</a>		
						</div>	
						<div class="video_properties_link_title" style="margin-top: 12px">
							<p>  File name</p>
						</div>
						<div class="video_properties_link">
							<p (click)="watchvideo(videoToUpdate._id)">
								{{videoToUpdate.videoUrl}}
							</p>		
						</div>		
					</div>
					<!--other option such as visibility--> 
					<div class="norr-lab-mat-card"> 
						<div class="in_title">
			         		<div class="col-6">
			         			<span class="in_title_6_1">Visibility</span> 
			         		</div> 
			         	</div>
			         	<div class="col-12" style="font-size: 12px;color: #ccc;text-align: 	center;">
			         		<mat-form-field class="col-12">
							  <mat-select disableRipple [(value)]="selected">
							    <mat-option value="Public">Public</mat-option>
							    <mat-option value="Subscribers">Subscribers</mat-option> 
							  </mat-select>
							</mat-form-field>	
			         	</div>
					</div>
				</div>
  			</div>	
  	</div>	
  </mat-tab>
  <mat-tab label="More options">
  		<div class="container_video_edit"> 
  			<div class="row"> 
				<div class="col-6">
					<div class="norr-lab-mat-card"> 
						<div class="in_title">
			         		<div class="col-6">
			         			<span class="in_title_6_1">Recording date</span> 
			         		</div> 
			         	</div> 
			         	<div class="col-12" style="text-align: end; font-size: 12px;color: #ccc">
			         		<mat-form-field class="col-12">
		         				  <mat-label>Choose a date</mat-label>
								  <input matInput (dateChange)="onDateChanges()" [matDatepicker]="picker" [formControl]="recordingDate"  [ngModel]="videoToUpdate.recordingDate">
								  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								  <mat-datepicker #picker></mat-datepicker>
							</mat-form-field>	
  
			         	</div>
					</div>

					<div class="norr-lab-mat-card"> 
						<div class="in_title">
			         		<div class="col-6">
			         			<span class="in_title_6_1">Video location</span> 
			         		</div> 
			         	</div> 
			         	<div class="col-12" style="text-align: end; font-size: 12px;color: #ccc">
			         			<form class="example-form">
								  <mat-form-field class="col-12  example-full-width">
								    <input type="text"
								           placeholder="Search"
								           aria-label="Number"
								           matInput
								           [formControl]="myControlLoc"
								           (change)="onLocationChanges()"
								           [ngModel]="videoToUpdate.videoLocation"
								           [matAutocomplete]="auto">

								  </mat-form-field>
								    <mat-autocomplete  [displayWith]="onLocationChanges()" #auto="matAutocomplete">
								      <mat-option *ngFor="let opt of norrOptionLocation" [value]="opt">
								        {{opt}}
								      </mat-option>
								    </mat-autocomplete>
								</form>
			         	</div>
					</div> 
					<!--<div class="norr-lab-mat-card"> 
						<div class="in_title">
			         		<div class="col-4">
			         			<span class="in_title_6_1">Category</span>	&nbsp;<mat-icon class="help_in_title_6_1" (click)="infoTitle()">help_outline</mat-icon>
			         		</div> 
			         	</div> 
			         	<div class="col-12" style="text-align: end; font-size: 12px;color: #ccc">
			         			<form class="example-form1">
								  <mat-form-field class="col-12  example-full-width">
								    <input type="text"
								           placeholder="Category"
								           aria-label="Number"
								           matInput
								           [formControl]="myControl12"
								           [matAutocomplete]="auto">
								    <mat-autocomplete #auto="matAutocomplete">
								      <mat-option *ngFor="let option of optionCategory" [value]="option">
								        {{option}}
								      </mat-option>
								    </mat-autocomplete>
								  </mat-form-field>
								</form>
			         	</div>
					</div>  -->
				</div>
				<div class="col-6">   
					<div >  
						<video class="video_to_edit"  src="{{videoToUpdate.videoUrl}}"> 
								
						</video> 
					</div>
					<div class="video_properties"> 
						<div class="video_properties_link_title">
							<p>  Video link</p>
						</div>
						<div class="video_properties_link">
							<a (click)="watchvideo(videoToUpdate._id)">
								{{page.url}}
							</a>		
						</div>	
						<div class="video_properties_link_title" style="margin-top: 12px">
							<p>  File name</p>
						</div>
						<div class="video_properties_link">
							<p (click)="watchvideo(videoToUpdate._id)">
								{{videoToUpdate.videoUrl}}
							</p>		
						</div>		
					</div>
				</div>
  			</div>	
  	</div>	
  </mat-tab> 
  <span class="space"></span>
  <div>some</div>
</mat-tab-group>