.sub-toolbar{
	height: 35px;
	background: #fff;
}

.sub-menu {
    display: inline-block;
    padding: 4px;
    font-size: 15px;
    font-weight: 200;
}

.sub-menu>a { 
    margin: 10px;
}
.container_video_edit{
	margin-left: 250px;
	margin-right: 250px;
    padding: 23px;
}

.norr-lab-mat-card:not([class*=mat-elevation-z]) {
    /*box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);*/
    border: 1px solid #ccc;
    margin-bottom: 9px;
}

.video_to_edit {
   width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.video_properties{
	background-color: #f4f4f4;
	padding: 	9px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 14px;
}

.norr-lab-mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;

    padding-top: 0px;
    padding-left: 0px;

}
.norr-lab-mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
}

.norr-lab-mat-card {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
span.in_title_6_1 {
    font-size: 14px;
    color: #ccc; 
    line-height: 3;
}

.help_in_title_6_1{

}

mat-icon.help_in_title_6_1.mat-icon.notranslate.material-icons.mat-icon-no-color { 
    font-size: 19px; 
    color: #ccc;
}

.col-12.ng-pristine.ng-untouched.ng-valid.textarea_title {
    font-size: 16px;
    line-height: 2;
    outline: none;
}

img.poster_example:hover{
	border: 1px solid #ccc;
	filter: brightness(100%);
}

img.poster_example:active{
	border: 2px solid #000;
	filter: brightness(100%);
}

img.poster_example {
    width: 100%;
    border: 1px dashed #ccc;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    filter: brightness(75%);
}

ul{
	list-style: none; 
    padding-left: 0px; 
}

.norrthumbnail>div{
	padding: 6px
}

span.thumb_title {
    font-size: 16px;
    line-height: 2;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
}

.video_properties_link_title >p{
    font-size: 11px;
}

.video_properties_link>a{
	color: #065fd4;
	font-size: 	16px;
	cursor: 	pointer;	
}




