<div class="sub-toolbar">  
    <div class="sub-menu">
      <a href=""> NorrLab</a> /

      <a href=""> Channel</a>
    </div>
</div>

<div class="col-12">
  <div class="video-author-avatar">
    <div class="row">
        <div class="col-1">  
          <img  alt=" " src="http://localhost:369/images{{ONLINE_USER?ONLINE_USER.userPictureUrl :'/default_user.png'}}" class="channel-avatar main"> 
        </div>
        <div class="col-9 author-avatar" style="
    padding-left: 0px;
"> 
          <div class="col-12 author-of-vid col-9">
            <div class="user_name">
               {{ONLINE_USER && ONLINE_USER.firstName?ONLINE_USER.lastName:''}} &nbsp;{{ONLINE_USER && ONLINE_USER.firstName?ONLINE_USER.firstName:''}}
            </div>
          </div>
          <div class="col-12" > 
            <div class="user_subscribers"> 
            <button  (click)="goToSubscriberList()"  mat-button class="mat-button mat_success moreVideosOnDemand">45k subscriber</button>
            </div>
          </div>
        </div>
    </div>
</div>
<div #__main_container class="row main-container">  
	<div class="col-12" style="
    background: #fafafa;
"> 
		<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">
<!-- 'Video', 'Visibility', 'Restriction', 'Date'-->
    <table mat-table [dataSource]="norrlabVideos" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Video Column -->
      <ng-container matColumnDef="Video">
        <th mat-header-cell *matHeaderCellDef>Video</th>
        <td mat-cell *matCellDef="let row">
          <div class="row">
            <div class="col-3 video_poster" (click)="goToVideoEditPage(row._id)" style="cursor: pointer;">
              <img mat-card-image src="{{row.videoPoster? row.videoPoster:'http://localhost:369/images/default-img.jpg'}}" alt="Photo of a Shiba Inu">
            </div>
            <div class="col-7 video_poster">
              <div class="title_channel_video">
                {{row.videoTitle}}
              </div>
              <div class="channel_video">
                <button mat-icon-button (click)="goToVideoEditPage(row._id)" class=" proposal-video" ><mat-icon>edit </mat-icon></button>
                <button mat-icon-button (click)="goToVideoChartPage(row._id)" class=" proposal-video" ><mat-icon>bar_chart</mat-icon></button>
                <button mat-icon-button (click)="goToVideoCommentPage(row._id)" class=" proposal-video" ><mat-icon>insert_comment</mat-icon></button>
              </div>

            </div>
          </div>
        </td>
      </ng-container> 

      <!-- Visibility Column -->
      <ng-container matColumnDef="Visibility">
        <th mat-header-cell *matHeaderCellDef>Visibility</th>
        <td mat-cell *matCellDef="let row"> 
          <div class="row col-12">
            <div class="col-12 video_status" *ngIf="row.public" >
              <mat-icon>visibility</mat-icon> 
            </div>
            <div class="col-12 video_status" *ngIf="!row.public">
              <mat-icon>visibility_off</mat-icon> 
            </div>
            
          </div>
        </td>
      </ng-container>

      <!-- Restriction Column -->
      <ng-container matColumnDef="Restriction">
        <th mat-header-cell *matHeaderCellDef>Restriction</th>
        <td mat-cell *matCellDef="let row">
          <div class="col-12">
            {{row.restriction?row.restriction:'None'}} 
          </div>
        </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="Created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created
        </th>
        <td mat-cell *matCellDef="let row">{{row.videoDate | date : 'medium'}}</td>
      </ng-container>

      <!-- Views Column -->
      <ng-container matColumnDef="Views">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Views
        </th>
        <td mat-cell *matCellDef="let row">{{row.videoViews?row.videoViews:'0'}}</td>
      </ng-container>

      <!-- Comments Column -->
      <ng-container matColumnDef="Comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Comments
        </th>
        <td mat-cell *matCellDef="let row"><a href="">{{row.comments?row.comments:'0'}}</a></td>
      </ng-container>

      <!-- Likes(vs Dislike) Column -->
      <ng-container matColumnDef="Likes (vs Dislike)">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Likes(vs Dislike)
        </th>
        <td mat-cell *matCellDef="let row">{{row.videoLikes?row.videoLikes:'0'}}/{{row.videoDislikes?row.videoDislikes:'0'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns;"
      (click)="expandedElement = expandedElement === element ? null : element">
        
      </tr>
    </table>
  </div> 

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
			
	</div>
</div>