<div class="sub-toolbar">  
    <div class="sub-menu">
      <a href=""> Trades</a> /

      <a href=""> Lessons</a> /
      <a href=""> Videos*</a>
      
    </div>
</div> 
<div class="row main-container"> 
    <div class="col-12 ">
      <button mat-button (click)="__sortBy()"><mat-icon>sort</mat-icon>&nbsp;&nbsp;SORT BY</button>
      <mat-card class="sort_by" *ngIf="sortBy">
        <div class="col-12" (click)="__sortByEvent($event)">Newest First</div>
        <div class="col-12" (click)="__sortByEvent($event)">Most Liked</div>
      </mat-card>
    </div> 
    <div class="col-8 main-container-left">
      
      <mat-card class="example-card" *ngFor="let trade of norrLabTrades.data">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{trade.tradeUser.lastName}} {{trade.tradeUser.firstName}}</mat-card-title>
          <mat-card-subtitle>{{trade.creationDate | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://localhost:369{{trade.pictureUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content class="trade-card-content">
          <p class="trade-predescrib">
            {{trade.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="trade-card-actions" >
          <button mat-button><mat-icon class="share_trade">share</mat-icon></button>
          <button mat-button>{{trade.product}}</button>
          <button   routerLink="/{{trade._id}}" routerLinkActive="active"mat-button class="mat-button {{trade.profit>0? 'trade-gains':'trade-losses'}}">{{trade.profit>0?"Wins":"Losses"}} ($ {{trade.profit}})</button>
        </mat-card-actions>
      </mat-card>
      <mat-paginator #__paginator  [length]="norrLabTrades.totalCount"
              [pageSize]="5"
              [pageSizeOptions]="[5,10, 20]"
              (page)="pageEvent = loadTraeds($event)">
      </mat-paginator>
    </div>
    <div class="col-4 main-container-rights" >  
      <div style="padding-top:9px  "  class="row list-free-videos" > 
         <div class="col-6 img-video-cont"> 
          <div class="img-video-button">
              
          <button mat-icon-button class=" proposal-video" ><mat-icon  [routerLink]="'/videos'">play_circle_outline</mat-icon></button> 
           </div>                                                                                                                                   
            <img _ngcontent-rto-c10="" alt="..." class="mat-list-avatar-video mat-list-avatar " matlistavatar="" src="{{topWeekVideo.videoPoster}}">
         </div> 
          <div class="col-6" style="
    padding-left: 0px;
    padding-right: 0px;
"> 
            <div>  <span class="video-proposition-title"> {{topWeekVideo.videoTitle}} </span></div>
            <div>  <span class="video-proposition"> {{topWeekVideo.videoDescription}}  </span></div>
         </div> 
      </div>  
      <div style="margin-top: 9px;">
        <div class="advs-content" >
           <p >Technical analyses
           kdvkdnvkndvknknvkfnbknfkbnf
           fkbvfnkbnfknbkfnbkfkbnfknbkfnb</p>

        </div>
         
      </div>
      <div class="col-12 twitter_new">
        <!-- You can now use the library component in app.component.html -->
          <ngx-twitter-timeline 
              [data]="{sourceType: 'profile',url: 'https://twitter.com/norrlab', screenName: '@NorrLab'}"
              [opts]="{tweetLimit: 2}"
          ></ngx-twitter-timeline>
      </div>
      <div>
        
        <div class=" kil">
          <iframe src="https://widgets2.rt.prorealtime.com/ProRealTime_HTML5Quotes/itcharts.phtml?wid=2020376814&k=04efffb78e7e3c0c649df9ff1387c400" height="250" width ="403" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="side-header">
           <p class="tech-analyse">Technical analyses</p>
        </div> 

        <mat-list>
          <mat-list-item *ngFor="let shoe of [1,2,3]">
            <img matListAvatar src="https://nucleotrader.com/wp-content/uploads/2019/04/Charles-Henry-Dow-happy-live-420x305.jpg" alt="...">
            <h3 matLine> Emile B. </h3>
            <p matLine>
              <span> EUR/USD</span>
              <span class="demo-2"> Dissident Officiel
  3 days ago
  2ème partie de l'émission "Face à l'info" du 11 décembre 2019.
  Soutenez moi gratuitement en visionnant une publicité sur Utip : https://www.utip.io/dissidentofficiel

  Retrouvez toutes les interventions d'Eric Zemmour sur  </span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>

      
    </div>


</div>