<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"  >
  <mat-toolbar color="primary" class="header-toolbar example-toolbar">
    <a href="">
      <img class="norrlab-logo" src="assets/norrlab/designed-logo-big.png">
    </a>
    <button mat-icon-button class="norrlab-menu-button" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> 
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="norrlab-side" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list> 
        <a mat-list-item routerLink="." style="height: 45px"></a>
        <a [routerLink]="nav.link" mat-list-item   *ngFor="let nav of fillerNav"><mat-icon aria-hidden="false" aria-label="Example home icon" class="menu-icon">{{nav.icon}}</mat-icon>&nbsp;{{nav.libelle}}</a>
      </mat-nav-list>
      <div class="menu-footer">
        
      </div>
    </mat-sidenav>

    
    <mat-sidenav-content>
      
      
      
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar color="primary" class="example-toolbar footer-toolbar"> 
  </mat-toolbar>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

