<div class="home-page">
	<mat-grid-list cols="12" rowHeight="100px">
	  <mat-grid-tile
	      
	      [colspan]="12"
	      [rowspan]="3" >
	    <div class="row ">
	    		<div class="main-advs col-12" >
			    	  Partagez votre trading avec la  communité 
			    </div>
			    <div class="main-advs-norrlab col-12" >
			    	 Norr<span class="norr-lab">L</span>ab 
			    </div>
			    <div class="main-advs-norrlab col-12" >
			    	 
  				<button mat-raised-button class="norr-lab-join-us">Connexion</button>
			    </div>
  
	    </div>
	    
	  </mat-grid-tile>

	</mat-grid-list>

	<mat-grid-list cols="12" rowHeight="100px" style=" margin-top: 19px; padding: 9px;">
	  <mat-grid-tile
	      
	      [colspan]="12"
	      [rowspan]="3" >
	    <div class="row " >
    		<div class="main-advs col-3" *ngFor="let advs of [1,2,3,4]">
		    	 <div class="user-witenesses">
		    	 	<div class="row">
		    	 		<div class="col-2">
		    	 			<img src="assets/norrlab/imageedit_43_5024767093.gif" class="advs-avatar">
		    	 		</div>
		    	 		<div class="col-9 advs-user">
		    	 			<p>Ulrich O.</p>
		    	 		</div>
		    	 	</div>
		    	 	<div class="row comment">
		    	 		<p>jfejafkjdv,kd,vlkdlvkldkvlkdlvklkvlklvdlvkv,vdkv,k,</p>
		    	 		<p>jfejafkjdv,kd,vlkdlvkldkvlkdlvklkvlklvdlvkv,vdkv,k,</p>
		    	 		<p>jfejafkjdv,kd,vlkdlvkldkvlkdlvklkvlklvdlvkv,vdkv,k,</p>
		    	 	</div>
		    	 </div>  
		    </div>  
	    </div>
	    
	  </mat-grid-tile>
	  
	</mat-grid-list>

</div>
