	<div class="sub-toolbar">  
	    <div class="sub-menu">
	      <a href=""> NorrLab</a> /

	      <a href=""> Upload video</a>
	    </div>
	</div> 
<mat-tab-group>
  <mat-tab label="Basic">
  	<div class="container_video_edit"> 
  			<div class="row" *ngIf="!__videoLoaded">

  				<div class="col-12 main_upload copy_link"> 
					<img (click)="fileInput_video.click()" class="cloud_upload" src="assets/icons/svg/cloud_upload-24px.svg" alt="Kiwi standing on oval">
     			 	<input name="fileInputVideo" style="display: none;" #fileInput_video type="file" accept="video/*" (change)="onFileVideoInput($event)" />

				</div>
				<div class="col-12 sub_title_upload">
					<p class="video_select_clss" >Select video file to upload</p>
				</div>
				<div *ngIf="_percentValue>0" class="col-12 sub_title_upload">
					<div class="progress_container">
						<div #__volumClassProgress matTooltip="{{_percentValue}}%"
			         			[matTooltipPosition]="'right'" class="_in_progress progress">
							
						</div>
					</div>
				</div>
  			</div> 
  	</div>	
  </mat-tab> 
  <span class="space"></span>
  <div>some</div>
</mat-tab-group>