  <div class="sub-toolbar">  
      <div class="sub-menu">
        <a href=""> NorrLab</a> /

        <a href=""> Video comments</a>
      </div>
  </div>   
<mat-tab-group>
  <mat-tab label="">
  		<div class="container_video_edit main"> 
    		<div class=""> 
    			<div class="row row_add_pic">  
	      		<div class="add_pic"> 
	      				<div class="col-6 row"> 
			      			<div class="col-1" ><mat-icon class="span_upload_profil_mat-icon">photo_camera</mat-icon> </div>

			      			<div class="col-6 span_upload_profil" >;M.FMR.M.GRM%G.MTMH.MMHkmkmlyklbmjklh </div>
			      		</div>

	      		</div>	
	          <div class="col-12" > 
	          		<div class="col-6"> 
	          			<div>;M.FMR.M.GRM%G.MTMH.MMHkmkmlyklbmjklh </div>
	          		</div>	

	  		  </div>
			</div>
    		</div>
			
		</div>
		<div class="container_video_edit "> 
    		<div class="container_"> 
    			<div class="row row_add sub_profil">  
		      		<div class="add_pic_pic row"> 
		      			<div class="profil_pic"> 
			  			<img class="profil_pic_img" src="http://localhost:369/images/community-user/ossene-profile.jpg">
			  		</div>
			  		<div class="sub_profil row"> 
			  				dkldkmdkldk <br> 
			  				jdkjkjdkdjkdjk <br> 
			  				l,kdm,jkjdkjdkj <br> 
			  		</div>
			  		
	      		</div> 
			</div>
			<div class="sub_profil2 row"> 
			  			123
			  				dkldkmdkldk <br> 
			  				jdkjkjdkdjkdjk <br> 
			  				l,kdm,jkjdkjdkj <br> 
			  		</div>
    		</div>
			
		</div> 
</mat-tab> 
</mat-tab-group>