<div class="sub-toolbar">
    <div class="sub-menu">
      <a href=""> NorrLab</a> /

      <a href="/user-trades"> Users Trades</a> /
      <a href="/user-trades/{{linkTradeId}}/detail"> Detail</a>

    </div>
</div>
<div class="row main-container">
    <div class="col-12 main-container-left">

      <mat-card class="example-card" style="border-radius: 0px;
  box-shadow: none;" >
        <mat-card-header>
          <div mat-card-avatar >
            <img (click)="goToUserProfil(__norrlabTrade.tradeUser)" class="example-header-image" src="{{__norrlabTrade.tradeUser.userPictureUrl?__norrlabTrade.tradeUser.userPictureUrl:'http://localhost:369/images/default_user.png'}}"  width="100%">
          </div>
          <mat-card-title  (click)="goToUserProfil(__norrlabTrade.tradeUser)"><span class="span_card-title ">{{__norrlabTrade.tradeUser.lastName}} {{__norrlabTrade.tradeUser.firstName}}</span></mat-card-title>
          <mat-card-subtitle>{{__norrlabTrade.creationDate | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="http://localhost:369{{__norrlabTrade.pictureUrl}}" alt="Photo of a Shiba Inu">-->
        <a mat-raised-button routerLinkActive="active" (click)="showAnalyse(analyse)"
            class="mat-raised-button moreVideosOnDemand" style="
    width: 100%;">
                      <img class="detail_img" src="http://localhost:369{{__norrlabTrade.pictureUrl?__norrlabTrade.pictureUrl:'/images/default-img.jpg'}}"  width="100%">
                </a>
        <mat-card-content class="trade-card-content">
          <div class="trade_card_cont_title">
            Analyse of {{__norrlabTrade.product}}  position
          </div>
          <p ><!-- class="trade-predescrib"-->
            {{__norrlabTrade.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="trade-card-actions" >

           <div class="col-12" class=" shareSocial" *ngIf="__activedSocialShare">
                    <mat-card-subtitle>
                    <div class="row" style="
    margin-left: 0px;
    margin-right: 0px;
" >
                      <div class="col-6">Share!</div>

                    <div class="col-6" style="text-align: end"  >
                      <mat-icon (click)="closeShareVideo()" style="cursor: pointer;">close</mat-icon>
                    </div>
                    </div>
                    </mat-card-subtitle>
                  <mat-card-content style="margin-top: 30px">
                    <div class="row" style="
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 9px;
    padding-right: 9px;
">
                      <a  class="moreVideosOnDemand twitter-share-button" href="https://twitter.com/intent/tweet?text={{page.description}}...&hashtags={{__norrlabTrade.type}},{{__norrlabTrade.product}}
&url={{page.url}}&via=NorrLab&related=NorrLab" >
                        <mat-icon svgIcon="icon-twiter"></mat-icon>TWITTER
                      </a>
                      <a  class="col-3 moreVideosOnDemand" href="https://www.facebook.com/dialog/share?app_id={{__env.facebookId}}&href={{page.url}}">
                        <mat-icon svgIcon="icon-facebook"></mat-icon>FACEBBOK
                      </a>
                      <a  class="col-3 moreVideosOnDemand" href="https://www.linkedin.com/sharing/share-offsite/?url={{page.url}}">
                        <mat-icon svgIcon="icon-linkedin"></mat-icon>LINKEDIN
                      </a>
                      <a  class="col-3 moreVideosOnDemand" href="socialMediaShare($event)">
                        <mat-icon svgIcon="icon-instagram"></mat-icon>INSTAGRAM
                      </a>
                    </div>

                  <div  class="col-12 sign_in share_by_url" style="text-align: start;display: inline-block;width: 100%;">
                     <div class="row" style="padding-right: 9px;">
                      <div class="col-10" >
                        <input #userInput type="text" (ngModelChange)="onTextChange($event)" style="
    font-size: 17px;"  name="" [(ngModel)]="page.url" matInput placeholder="" >
                      </div>
                      <div class="col-2" >
                        <a class="copyClass profile-detail" style="color: blue" (click)="copyInputMessage(userInput)">
                          COPY
                        </a>
                      </div>
                     </div>
                  </div>
                  </mat-card-content>
                </div>

          <div style="padding-right: 32px" *ngIf="!__activedSocialShare">
            <mat-icon class="btn_main" (click)="reloadComponent()">restore_page</mat-icon>
            <mat-icon class="btn_main" (click)="activeSocialShare()">share</mat-icon>
            <mat-icon class="btn_main" (click)="likeTrade(1)" >thumb_up_alt</mat-icon><span class="like-span"> {{__norrlabTrade.norrlabTradeLikes?__norrlabTrade.norrlabTradeLikes:'0'}}</span>&nbsp;
            <mat-icon class="btn_main" (click)="likeTrade(-1)" >thumb_down_alt</mat-icon><span class="like-span"> {{__norrlabTrade.norrlabTradeDislikes?__norrlabTrade.norrlabTradeDislikes:'0'}}</span>&nbsp;
          </div>

        </mat-card-actions>
      </mat-card>
    </div>
     <div>
     		<div class="row trade_expo" style="background-color: #fafafa;">
    			<div class="col-3 trade_position" *ngFor="let analyse of norrlabTradeAnalyses">
    					<p class="trade_position_title">{{analyse.title}} </p>
    					<a mat-raised-button routerLinkActive="active" (click)="showAnalyse(analyse)"
            class="mat-raised-button moreVideosOnDemand ">
            					<img  class="a_img" src="http://localhost:369{{analyse.pictureUrl?analyse.pictureUrl:'/images/default-img.jpg'}}" width="100%">
        				</a>
         		</div>
     		</div>
     </div>

      <div class="col-12 main-container-left" id="col_12_main_container" style="padding-top: 0px; ">

      <mat-card class="example-card comment-detail" >
        <div class="">
          <mat-card-header style="margin-bottom: 25px">
          <div mat-card-avatar>
            <img class="example-header-image" src="{{ONLINE_USER && ONLINE_USER.userPictureUrl?ONLINE_USER.userPictureUrl:'http://localhost:369/images/default_user.jpg'}}"  width="100%">
          </div>
          <form class="example-form" style="
    width: 100%;
">
            <mat-form-field  (click)="onSearchChange($event.target.value)" style="
    width: 100%;
" class="example-full-width" [style.fontSize]="'14px'">
              <input type="text"
               name="norr" #message maxlength="350" matInput [(ngModel)]="norrLabTradeCommentComment" placeholder="ADD COMMENT..." style="width: 100%;font-size: 13px"
              >

              <mat-hint align="end">{{message.value.length}} / 350</mat-hint>
            </mat-form-field>
            <div class="" *ngIf="__isConnected">
              <button mat-button (click)="__cancel($event)"
            class="mat-button moreVideosOnDemand " style="margin-right: 9px">
              CANCEL
            </button>
            <button  (click)="createNorrLabTradeComment(linkTradeId)" [disabled]="isDisabled()" mat-button class="mat-button mat_success moreVideosOnDemand">COMMENT</button>
            </div>
          </form>

        </mat-card-header>

        </div>
          <mat-divider style="margin-bottom:  15px"></mat-divider>
        <div style="  margin-top: 55px" >
        <div class=""  *ngFor="let comt of  tradeComments ">
          <mat-card-header>
          <div mat-card-avatar>
            <img class="example-header-image" src="{{comt.commentUser && comt.commentUser.userPictureUrl?comt.commentUser.userPictureUrl:'http://localhost:369/images/default_user.png'}}"  width="100%">
          </div>
          <mat-card-title  (click)="goToUserProfil(__norrlabTrade.tradeUser)"> <span class="span_card-title ">{{comt.commentUser && comt.commentUser.lastName?comt.commentUser.lastName : '?'}} {{comt.commentUser && comt.commentUser.firstName?comt.commentUser.firstName:'?'}}</span> </mat-card-title>
          <mat-card-subtitle>{{comt.commentDate | date:'medium'}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="trade-card-content_comment">
          <p ><!-- class="trade-predescrib"-->
            {{comt.comment}}
          </p>
        </mat-card-content>

        </div>
        </div>
      </mat-card>
    </div>
</div>
