<div class="sub-toolbar">  
    <div class="sub-menu">
      <a href=""> NorrLab</a> /

      <a href=""> Users Trades</a> /
      <a href=""> Detail</a>
      
    </div>
</div> 
<div class="row main-container">  
    <div class="col-12 main-container-left">
      
      <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{norrlabTrade.tradeUser.lastName}} {{norrlabTrade.tradeUser.firstName}}</mat-card-title>
          <mat-card-subtitle>creationDate | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://localhost:369{{norrlabTrade.pictureUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content class="trade-card-content">
          <p ><!-- class="trade-predescrib"-->
            {{norrlabTrade.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="trade-card-actions" > 
          <button mat-button>product}}</button> 
            <a mat-raised-button routerLinkActive="active" routerLink="/_id}}"
            class="mat-raised-button moreVideosOnDemand profit>0? 'trade-gains':'trade-losses'}}">profit>0?"Wins":"Losses"}} ($ profit}})</a>
        
        </mat-card-actions>
      </mat-card> 
    </div>
     <div > 
 		<div class="row trade_expo" style="background-color: #fafafa;"> 
			<div class="col-3 trade_position" *ngFor="let detail of [1,2,3,4]"> 
					<p class="trade_position_title">Daily Entry analuse </p>
					<a mat-raised-button routerLinkActive="active" routerLink="/user-trades/trade_id/detail"
        class="mat-raised-button moreVideosOnDemand ">
        					<img  class="a_img" src="http://localhost:369{{norrlabTrade.pictureUrl}}">
    				</a>
     		</div>
 		</div>
     </div>	  


</div>