<div class="sub-toolbar">  
    <div class="sub-menu">
      <a href=""> NorrLab</a> /

      <a href="/user-trades"> Users Trades</a> /
      <a href="/user-trades/{{linkTradeId}}/detail"> Detail</a>
      
    </div>
</div> 
<div class="row main-container"> 
    <div class="col-12 main-container-left">
      
      <mat-card class="example-card" style="border-radius: 0px;
  box-shadow: none;" >
        <mat-card-header>
          <div mat-card-avatar >
            <img class="example-header-image" src="http://localhost:369/images{{__norrlabTrade.tradeUser.userPictureUrl?__norrlabTrade.tradeUser.userPictureUrl:'/default_user.png'}}"  width="100%">
          </div>
          <mat-card-title>{{__norrlabTrade.tradeUser.lastName}} {{__norrlabTrade.tradeUser.firstName}}</mat-card-title>
          <mat-card-subtitle>{{__norrlabTrade.creationDate | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src="http://localhost:369{{__norrlabTrade.pictureUrl}}" alt="Photo of a Shiba Inu">-->
        <a mat-raised-button routerLinkActive="active" (click)="showAnalyse(analyse)"  
            class="mat-raised-button moreVideosOnDemand" style="
    width: 100%;"> 
                      <img class="detail_img" src="http://localhost:369{{__norrlabTrade.pictureUrl?__norrlabTrade.pictureUrl:'/images/default-img.jpg'}}"  width="100%">
                </a>
        <mat-card-content class="trade-card-content">
          <div class="trade_card_cont_title">
            Analyse of {{__norrlabTrade.product}}  position
          </div>
          <p ><!-- class="trade-predescrib"-->
            {{__norrlabTrade.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="trade-card-actions" > 
          <div style="padding-right: 32px"> 
              <mat-icon>restore_page</mat-icon> 
          <mat-icon>share</mat-icon> 
          <mat-icon>thumb_up_alt</mat-icon>
          <mat-icon>thumb_down_alt</mat-icon>
          </div>
        
        </mat-card-actions>
      </mat-card> 
    </div>
     <div> 
     		<div class="row trade_expo" style="background-color: #fafafa;"> 
    			<div class="col-3 trade_position" *ngFor="let analyse of norrlabTradeAnalyses"> 
    					<p class="trade_position_title">{{analyse.title}} </p>
    					<a mat-raised-button routerLinkActive="active" (click)="showAnalyse(analyse)"  
            class="mat-raised-button moreVideosOnDemand ">
            					<img  class="a_img" src="http://localhost:369{{analyse.pictureUrl?analyse.pictureUrl:'/images/default-img.jpg'}}" width="100%">
        				</a>
         		</div>
     		</div>
     </div>	   
 
      <div class="col-12 main-container-left" id="col_12_main_container" style="padding-top: 0px; ">
      
      <mat-card class="example-card comment-detail" >
        <div class="">
          <mat-card-header style="margin-bottom: 25px">
          <div mat-card-avatar>
            <img class="example-header-image" src="http://localhost:369/images/default_user.jpg"  width="100%">
          </div>
          <form class="example-form" style="
    width: 100%;
">
            <mat-form-field style="
    width: 100%;
" class="example-full-width">
              <input matInput ngModel="norrLabTradeComment.comment" placeholder="ADD COMMENT..." style="width: 100%;font-size: 13px">
            </mat-form-field> 
            <div class="button_send_comment">
              <button>CANCEL</button>
              <button (click)="createNorrLabTradeComment(linkTradeId)" >COMMENT</button>
            </div>
          </form>

        </mat-card-header>  

        </div>
          <mat-divider style="margin-bottom:  15px"></mat-divider>
        <div style="  margin-top: 55px" >
        <div class=""  *ngFor="let comt of  tradeComments ">
          <mat-card-header>
          <div mat-card-avatar>
            <img class="example-header-image" src="http://localhost:369/images{{comt.commentUser.userPictureUrl?comt.commentUser.userPictureUrl:'/default_user.png'}}"  width="100%">
          </div>
          <mat-card-title>{{comt.commentUser.lastName?comt.commentUser.lastName : '?'}} {{comt.commentUser.firstName}}</mat-card-title>
          <mat-card-subtitle>{{comt.commentDate | date:'medium'}} </mat-card-subtitle>
        </mat-card-header> 
        <mat-card-content class="trade-card-content_comment">
          <p ><!-- class="trade-predescrib"-->
            {{comt.comment}}
          </p>
        </mat-card-content> 

        </div>
        </div>
      </mat-card> 
    </div> 
</div>