.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.shareSocial{
    padding-top:  9px; 
    text-align: start;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    height: 162px;
    width: 45%;

}

 .mat_success {
    background-color: #8EE1B6;
    color: #fff;
}

.moreVideosOnDemand{ 
 
     box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 3px;
    min-width: 64px;
    /* line-height: 36px; */
    padding: 0 16px;
    border-radius: 4px;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1); 
}
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.copyClass{
    color: blue;
    border: 1px solid #ccc;
    padding: 6px;
    cursor: pointer;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


mat-sidenav.mat-drawer.mat-drawer-side.mat-sidenav.ng-star-inserted.ng-tns-c5-0.ng-trigger.ng-trigger-transform.norrlab-side {
    padding-top: 64px;
    position: fixed;
}

mat-toolbar.example-toolbar.header-toolbar.mat-primary.mat-toolbar.mat-toolbar-single-row {
    z-index: 999;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #fafafb

}

.menu-footer {
    position: absolute;
    bottom: 0px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

mat-sidenav.norrlab-side.mat-drawer.mat-sidenav.ng-tns-c5-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted {
    width: 200px;
}

.sub-toolbar{
	height: 35px;
	background: #fff;
}

.example-spacer{
	flex:1 1 auto;
}

.row.main-container {
    margin: 19px;
}
 
.trade-header {
    background: #8EE1B6;
    height: 50px;
}

.trade-footer {
    background: #8EE1B6;
    height: 50px;
}

.trade-content {
    height: 160px;
    padding: 9px;
}

.trade-container.ng-star-inserted {
    margin-top: 16px;
    cursor: pointer;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

}

.example-header-image {
  background-size: cover;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    padding: 2px;
    /* border-style: unset; */
    border: 1px solid #8EE1B6;
}

.trade-header[_ngcontent-rxa-c0] {
    
    height: 50px;
    justify-content: center;
    justify-items: center;
    padding: 3px;
}

.row.user-publications {
    padding-left: 25px;
    padding-right: 25px;
}

.trade-content {
    background: #fff;
}

.sub-menu {
    display: inline-block;
    padding: 4px;
    font-size: 15px;
    font-weight: 200;
}

.sub-menu>a { 
    margin: 10px;
}

.user-publications-date {
    color: #ccc;
    font-size: 13px;
}

.user-publications-name {
    font-size: 17px;
    font-weight: 500;
}

.row.user-publications>p {
    font-size: 15px;
    padding-top: 9px;
}

.col-6.trade-state-win {
    height: 100%;
    display: inline-block;
    margin-top: 18px;
    font-size: 15px;
    color: blue;
}

.trade-header.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-6.trade-state-produit {
    display: block;
    text-align: -webkit-right;
    /* justify-content: center; */
    /* justify-items: center; */
    padding: 18px;
}

span.trade-state-produit {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #ccc;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 300;
} 

mat-sidenav.norrlab-side.mat-drawer.mat-sidenav.ng-tns-c5-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted {
    background: #2f353a;
}

a.mat-list-item.ng-star-inserted {
    color: #fff;
}

mat-toolbar.example-toolbar.footer-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
    background-color: #f0f3f5;
}

img.norrlab-logo {
    height: 30px;
}

button.norrlab-menu-button.mat-icon-button {
    color: #ccc;
    height: 45px;
    margin-left: 9px;
}

button:focus {
    outline: 0 !important;
}

mat-nav-list.mat-nav-list.mat-list-base {
    padding-top: 0px;
}
 
 mat-card.example-card.mat-card.ng-star-inserted {
     
    margin-top: 9px;
    margin-right: 9px;
    margin-bottom: 36px;
    margin-left: 9px;
} 

.col-3.main-container-rights {
    margin-top: 9px;
     margin-bottom: 9px;

}

.user-presentation-content {
    width: 100%;
    display: inline-block;
    padding: 9px;
    background: #fff;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.user-presentation{
    width: 100%; 
}

.user-presentation-header {
    height: 35px;
    background: #8EE1B6;
    display: inline-block;
    padding-top: 3px;
    padding-left: 3px;
    width: 100%;
    font-size: 19px;
    font-weight: 500;
}
.trade-losses{
  background-color: #f44336
}
.trade-gains{
  background-color: #8EE1B6;
}

.trade-card-actions{
  text-align: end;
  padding-top: 0
}

.trade-card-content{
        margin-top: 25px;
}

.trade-card-content_comment{
        margin-top: 0px;
}

img.mat-card-image {
        height: 399px;
    padding-right: 6px;
    padding-left: 6px;
}

.analyse-new{
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.side-header {
    background-color: #8EE1B6;
    /* height: 23px; */
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 9px;

    margin-top: 19px;
}

.side-header-content {
       padding: 3px;
    font-size: 12px;
    font-weight: 300;
}

.side-header-content > p{ 
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.col-9.analyse-week-news {
    /* border: 1px dotted blue; */
    display: inline-block;
    max-width: 100%; 
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    word-break: break-all;
    cursor: pointer;
    font-size: 11px;
}

.divider-archive-analyse: last-child{
  display: none;
}

.main-container-rights > div{
  margin-top: 9px;
  background-color: #fff
}

.advs-content{
      background-color: #f0f3f5;
    /* display: inline-block; */
    max-width: 100%;
    padding: 10px;
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
    /* padding-left: 10px; */
    word-break: break-all;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
}

.tech-analyse{
  color:  #fff
}


.list-free-videos{
  background:   #fff;
  padding:  3px;
}

.list-free-videos:last-child{
  margin-bottom:  9px;
  padding:  3px;
}

.video-list{
  height: 115px;
    width: 145px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    border-radius:  3px;
    cursor: pointer;
  border:   1px solid #8EE1B6;
  padding:3px;
}


.users-video-comments{

    padding-left: 6px;
}

.list-header{
  
    background-color: #8EE1B6;
    margin: 16px;
    font-size: 18px;
    padding: 9px;
    text-align: center;
    color: #fff;
}
.like-dislike>mat-icon{
  cursor: pointer;
}

 .mat-list-avatar-video {
    flex-shrink: 0;
     width: 100%;
    height: 90%;
    padding: 2px;
    border: 1px solid #fafafa;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #fafafb;
    object-fit: cover;
    border-radius:  1px
}

.video-proposition{
    font-size:  13px
}

.proposal-video{
  color:  #8EE1B6
}

.img-video-button{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.video-proposition-title {
    font-size: 16px;
    color:  black
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 45px;
}

.trade-predescrib{
  display:block;
text-overflow: ellipsis;
width: 60%;
overflow: hidden;
 white-space: nowrap; 
}


.col-12 .twitter_new{
  padding: 9px;
}

/*background-color: rgba(160,200,220,.12);*/
.share_trade{
  font-size: 36px;
    padding-bottom: 36px;
    color: #ccc;/*hsla(200, 46%, 75%, 2.12)*/
    text-align:start;
}


mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 36px; 
}

.kil{
    text-align: center;
  background:  url("/en/images/technology/reward-screen_c1578327566c.jpg")
}

.sort_by {
  color: #606060;
  padding-left: 15px;
  cursor: pointer;

    width: 11%;
    position: absolute;
    z-index: 99;
    padding: 9px 0px 15px 0px;
    text-align: center;
}

.sort_by  > .col-12 {
   
    font-size: 15px;
    font-weight: 400;
    padding: 3px 0px 3px 0px;
}

.sort_by  > .col-12:hover { 
    background-color: #f0f3f5;

  transition: background-color .4s ease-in;
}

.button-sort{
  color:  #ccc;
}

.moreVideosOnDemand{
  outline:  none;  
}

.trade_position{
  text-align:   center; 
} 

.a_img{
    width: 100%;
    height: 117px;
}

.trade_expo{

    border-left-width: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 9px;  
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.trade_position{

}

.trade_position_title{

}

.comment-detail{
  margin-top: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.detail_img{
      height: 500px;
}

.trade_card_cont_title{
  font-size: 19px;
    font-weight: bold;
}

.trade-card-actions> div> mat-icon{
  margin-left: 20px;
  color:  #ccc;
  cursor:   pointer;  
}