<div class="sub-toolbar">  
    <div class="sub-menu">
      <a href=""> Trades</a> /

      <a href=""> Lessons</a> /
      <a href=""> Videos*</a>
      
    </div>
</div>

<div class="row main-container">  
	<div class="col-8 video-container" >
		<div style="margin-bottom: 16px" >
			<div class="video-content col-12">
					<video class="player-video viewer" src="http://localhost:369/norrlab-users-video-2018/fondamentaux-du-trading-chapitre-1.mp4"></video>
				</div>
				<div class="player-control col-12">
					<div id="controls">
					    <div class="playButton">
					      <div class="playPause" style="background: url(&quot;pause.svg&quot;) 0% 0% / 100% 100%;"></div>
					    </div>
					    <div class="ProgressContainer">
					      <div class="timer intialTime">01:17</div>
					      <div class="progressBar">
					        <div class="progress" style="width: 73.9289%;"></div>
					      </div>
					      <div class="time" style="left: 846.078px;">01:30</div>
					      <div class="timer fullTime">01:44</div>
					    </div>
					    <div class="volume">
					      <div class="icon" style="background: url(&quot;mute.svg&quot;) 0% 0% / 100% 100%;"></div>
					      <div class="intensityBar">
					        <div class="intensity" style="display: none;"></div>
					      </div>
					    </div>
					    <div class="scale">
					      <div class="icon"></div>
					    </div>
					  </div>
				</div>
		</div>
		<div class="video-description row">
			<div class="col-6">
				<div class="col-12">Zendy Rene</div>
				<div class="col-12">Zendy Rene</div>
			</div>
			<div class="col-6">
				LIKE
			</div>
		</div>
		<mat-divider class="divider-archive-analyse"></mat-divider>
		<div class="video-description-user row">
			<div class="col-6">
				<div class="col-12">Zendy Rene</div>
				<div class="col-12">Zendy Rene</div>
			</div>
			<div class="col-6">
				LIKE
			</div>
		</div>
		<mat-divider class="divider-archive-analyse"></mat-divider>
		<div class="video-description-users-comments row">
			<div class="col-6">
				<div class="col-12">Zendy Rene</div>
				<div class="col-12">Zendy Rene</div>
			</div>
			<div class="col-6">
				LIKE
			</div>
		</div>
	</div>
	<div class="col-4" style="background-color: green">
		her i get som content
	</div>
</div>
