	<div class="sub-toolbar">  
	    <div class="sub-menu">
	      <a href=""> Trades</a> /

	      <a href=""> Lessons</a> /
	      <a href=""> Videos*</a>
	      
	    </div>
	</div>

	<div class="row main-container">  
		<div class="col-8 video-container" > 
			<!-- 

	<div>
				<mat-video src="localOrRemoteVideo.mp4"></mat-video>
			</div>
			-->

			<div class="video" style="margin-bottom: 16px" > 
				<div class="ckin__player minimal ckin__overlay is-playing">
					<video  #videoPlayer src="http://localhost:369/norrlab-users-video-2018/test.mp4" data-ckin="minimal" data-overlay="1"></video>
					<button (click)="playPause()"class="minimal__button--big central-video toggle" title="Toggle Play">
							<mat-icon class="">play_circle_outline</mat-icon>
					</button>  
					<div class="containing-minimal__controls">up-to-minimum
						<div (click)="position__track()" matTooltip="By default, I delay"
        aria-label="Button that displays a tooltip that has custom delays through a default config" class="col-12 up-to-minimum-control-progresse ">
							<div #__upToMin class="col-12 up-to-min" style="background-color: red; width: 67%; opacity: 1">
							
							</div>
						</div>	
						<div class="row minimal__controls ckin__controls">
							<div class="col-6" style="padding-left: 0px;">
								<button (click)="playPause()" mat-icon-button class="norrlab-play-circle-button" >
									<mat-icon>play_circle_outline</mat-icon>
								</button> 
								<button (click)="changeVolume()" mat-icon-button class="norrlab-play-circle-button norrlab-play-circle-button-right"  >
									<mat-icon>volume_up</mat-icon>
								</button> 
							</div>
							<div class="col-3"> 
								
							</div>
							<div class="col-3" style="text-align: end" > 
								<button mat-icon-button class="norrlab-play-circle-button" >
									<mat-icon>settings</mat-icon>
								</button> 
								<button mat-icon-button class="norrlab-play-circle-button norrlab-play-circle-button-right" >
									<mat-icon>fullscreen</mat-icon>
								</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="video-description ">
				<div class="row" style="padding-top: 9px"	>  
					<div class="col-6">
						<div class="col-12 video-title">Desire - The First Step toward Riches | Think and Grow Rich</div>
						<div class="col-12 video-title-sub">300.000 views, published 02 Jan 2019&nbsp;|&nbsp;
									{{videoplayer.nativeElement.volume}}
						</div>
					</div>
					<div class="col-6 contain-like-block">
						<div class="like-dislike "> 
							<mat-icon>thumb_up</mat-icon><span class="like-span"> 659</span>&nbsp; 
							<mat-icon>thumb_down</mat-icon><span class="like-span"> 62</span>
							<mat-icon>share</mat-icon>
						</div>
					</div>
				</div>
			</div>
			<mat-divider class="divider-archive-analyse"></mat-divider> 

			<div class="video-description-author ">
				<div class="row" style="padding-top: 9px"	>  
					<div class="col-12">
						<div class="col-3 video-author-avatar ">
							<div class="row">
									<div class="col-3"> 
										<img src="assets/norrlab/imageedit_43_5024767093.gif" class="advs-avatar main">
									</div>
									<div class="col-9 author-avatar"> 
										<div class="col-12 author-of-vid col-9">  Ulrich O.</div>
										<div class="col-12" style="padding-right: 6px;"> <p>45k subscriber</p></div>
									</div>
							</div>
						</div> 
					</div> 
				</div>
			</div>

			<mat-divider class="divider-archive-analyse"></mat-divider>
			<div class="video-description-author " *ngFor="let comment of [1,2,3]">
				<div class="row" style="padding-top: 9px"	>  
					<div class="col-12">
						<div class="col-3 video-author-avatar">
							<div class="row">
									<div class="col-3"> 
										<img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Charles_Henry_Dow.jpg" class="advs-avatar">
									</div>
									<div class="col-9"> 
										<div class="col-12 author-of-vid col-9">  Charles D.</div> 
									</div>
							</div>
						</div> 
						<div class="col-12"> 
							<p class="users-comments"> 
	Dissident Officiel
	3 days ago
	2ème partie de l'émission "Face à l'info" du 11 décembre 2019.
	Soutenez moi gratuitement en visionnant une publicité sur Utip : https://www.utip.io/dissidentofficiel

	Retrouvez toutes les interventions d'Eric Zemmour sur http://www.ericzemmour.org/

	Merci de vous abonner à la chaîne de secours Dissident Officiel 2 : https://www.youtube.com/channel/UC-14rMLJVb4HKScomtWSGtw

	Pour tout commentaire ou question : dissidentofficiel@gmail.com (Le délai de réponse peut être long dépendant du volume des courriels)
							</p>
						</div>			
					</div> 
				</div>
			</div>
		</div>
		<div class="col-4">
			<div style="padding-top:9px  "  class="row list-free-videos" *ngFor="let offVideo of [1,2,3]"> 
				 <div class="col-6 img-video-cont"> 
				 	<div class="img-video-button">
					    
				 	<button mat-icon-button class=" proposal-video" ><mat-icon>play_circle_outline</mat-icon></button> 
					 </div>																																																																		
				 		<img _ngcontent-rto-c10="" alt="..." class="mat-list-avatar-video mat-list-avatar " matlistavatar="" src="https://nucleotrader.com/wp-content/uploads/2019/04/Charles-Henry-Dow-happy-live-420x305.jpg">
				 </div>	
				  <div class="col-6" style="
    padding-left: 0px;
    padding-right: 0px;
"> 
				 		<div>  <span class="video-proposition-title"> Dissid Retrouvez toutes les interventions  </span></div>
				 		<div>  <span class="video-proposition"> Dissid Retrouvez toutes les interventions  </span></div>
				 </div>	
			</div>	
			<div class="row"> 
				<div class="col-12" style="	margin-top: 9px"> 
					<div class="list-header"> To follow</div> 
				<mat-list>
				  <mat-list-item *ngFor="let shoe of [1,2,3,4,5,6]">
				    <img matListAvatar src="https://nucleotrader.com/wp-content/uploads/2019/04/Charles-Henry-Dow-happy-live-420x305.jpg" alt="...">
				    <h3 matLine> Emile B. </h3>
				    <p matLine>
				      <span> EUR/USD</span>
				      <span class="demo-2"> Dissident Officiel
	3 days ago
	2ème partie de l'émission "Face à l'info" du 11 décembre 2019.
	Soutenez moi gratuitement en visionnant une publicité sur Utip : https://www.utip.io/dissidentofficiel

	Retrouvez toutes les interventions d'Eric Zemmour sur  </span>
				    </p>
				  </mat-list-item>
				</mat-list> 

				</div>
			</div>	
		</div>
	</div>
