	<div class="sub-toolbar">  
	    <div class="sub-menu">
	      <a href=""> NorrLab</a> /

	      <a href=""> Videos*</a>
	    </div>
	</div>

	<div #__main_container class="row main-container">  
		<div class="col-8 video-container" >  

			<div class="video" style="margin-bottom: 16px" > 
				<div class="ckin__player minimal ckin__overlay is-playing">
					<video preload="true"  #videoPlayer poster="{{videoReadayToplay?videoReadayToplay.videoPoster:''}}" src="{{__env?__env:''}}" data-ckin="minimal" data-overlay="1">
						<track class="norrlab_track" default kind="captions" srclang="en" src="assets/norrlab/BelattarQuenelleZemmour.vtt"/>
					</video>
					<!-- <button (click)="playPause()"class="minimal__button--big central-video toggle" title="Toggle Play">
							<mat-icon class="">play_circle_outline</mat-icon>
					</button> --> 
					<div class="containing-minimal__controls"> 
						<div (click)="position__track($event)" matTooltip="By default, I delay" #__upToMinimumControlProgresse
        aria-label="Button that displays a tooltip that has custom delays through a default config" class="col-12 up-to-minimum-control-progresse ">
							<div #__upToMin class="col-12 up-to-min" style="background-color: red; width: 67%; opacity: 1">
							
							</div>
						</div>	
						<div class="row minimal__controls ckin__controls">
							<div class="col-6 row" style="padding-left: 0px;"> 
									<div style="margin-right: 32px">
										<button (click)="playPause()" mat-icon-button class="norrlab-play-circle-button" >
											<mat-icon [hidden]="norrPlayPause">play_circle_outline</mat-icon><mat-icon [hidden]="!norrPlayPause ">pause</mat-icon>
										</button>  
										<button  (click)="muteVolume()" mat-icon-button class="norrlab-play-circle-button  norrlab-play-circle-button-right"  >
											<mat-icon [hidden]="!volumeMuted ">volume_up</mat-icon><mat-icon [hidden]="volumeMuted">volume_off</mat-icon>
										</button>
 

									</div> 
									<div #__volumeClass (click)="changeVolume($event)" class="volumeClass">
										<div  #__volumClassProgress class="volumClassProgress">
											<div #__roundVolumControl class="roundVolumControl">
												
											</div>
										</div>
									</div>
								  
							</div>
							<div class="col-3"> 
								 
							</div>
							<div class="col-3" style="text-align: end" > 
								<button mat-icon-button class="norrlab-play-circle-button" >
									<mat-icon>settings</mat-icon>
								</button> 
								<button (click)="goFullScreen()" mat-icon-button class="norrlab-play-circle-button " >
									<mat-icon>fullscreen</mat-icon>
								</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="video-description ">
				<div class="row" style="padding-top: 9px"	>  
					<div class="col-6">
						<div class="col-12 video-title">{{videoReadayToplay?videoReadayToplay.videoTitle :''}}</div>
						<div class="col-12 video-title-sub"><span class="view_video">{{videoReadayToplay?videoReadayToplay.videoViews:''}} views</span> published {{(videoReadayToplay?videoReadayToplay.videoDate:'') | date:'medium'}}
						</div>
					</div>
					<div class="col-6 contain-like-block">
						<div #__norrlabSignIn  class="col-12" style="margin: -74px;"  > 
							 <div  #__signIn  class="col-12 showSignIn" [hidden]="!showSignIn">
							 	<mat-card  class="must-connect">
							 		<div class="col-12">
							 			<mat-card-subtitle>	
							 			Like this video?
						 			</mat-card-subtitle>
									<mat-card-content> 
										Sign in to make your opinion count.&nbsp;|&nbsp;{{showSignIn}}
								 	</mat-card-content>
							 		</div>
								 	<mat-divider></mat-divider> 
								 	<div  class="col-12 sign_in" style="text-align: start;display: inline-block;width: 100%;">
								 		
							          <span ><a [routerLink]="'/login'" style="text-decoration: none;font-size: 13px;color: #0056b3;cursor: pointer;">SIGN IN</a></span> 
								 	</div>
							 	</mat-card>
							 </div>
							<div #__boardSocialMedia style="margin-left: 105px;"  class="col-12 showSignIn boardSocialMedia" *ngIf="__shareOnSocialMedia">
							 	<mat-card  class="must-connect" style="margin-bottom: 9px;">
							 		<div class="col-12">
							 			<mat-card-subtitle>	
							 			<div class="row">
							 				<div class="col-6">Share!</div>

							 			<div class="col-6" style="text-align: end"  >
							 				<mat-icon (click)="closeShareVideo()" style="cursor: pointer;">close</mat-icon>
							 			</div>
							 			</div>
						 				</mat-card-subtitle>

								 	<mat-divider></mat-divider> 
									<mat-card-content style="margin-top: 30px">  
										<div class="row">
											<a  class="moreVideosOnDemand"><mat-icon svgIcon="icon-twiter"></mat-icon>TWITTER
									</a>
									<a  class="moreVideosOnDemand" (click)="moreVideosOnDemand($event)">	
										<mat-icon svgIcon="icon-facebook"></mat-icon>FACEBBOK
									</a>
									<a  class="moreVideosOnDemand" (click)="moreVideosOnDemand($event)">
										<mat-icon svgIcon="icon-linkedin"></mat-icon>LINKEDIN
									</a>
									<a  class="moreVideosOnDemand" (click)="moreVideosOnDemand($event)">
										<mat-icon svgIcon="icon-instagram"></mat-icon>INSTAGRAM
									</a>
										</div>
								 	</mat-card-content>
							 		</div>
								 	<div  class="col-12 sign_in share_by_url" style="text-align: start;display: inline-block;width: 100%;">
								 		 <div class="row" style="padding-right: 9px;">
								 		 	<div class="col-10" >
								 		 		<input #userInput type="text" (ngModelChange)="onTextChange($event)" style="
    font-size: 17px;"  name="" [(ngModel)]="page.url" matInput placeholder="" >
								 		 	</div>
								 		 	<div class="col-2" > 
								 		 		<a class="copyClass" style="color: blue" (click)="copyInputMessage(userInput)">
										 			COPY
												</a>
								 		 	</div>
								 		 </div> 
								 	</div>
							 	</mat-card>
							 </div>
						</div>
						<div class="like-dislike col-12"> 
							<mat-icon (click)="shareOnSocialMediaNoArg()" style="
    margin-right: 16px;
">share</mat-icon>
							<mat-icon class="like-span-mat-icon" (click)="likeVideo(1)">thumb_up</mat-icon><span class="like-span"> {{videoReadayToplay?videoReadayToplay.videoLikes:'0'}}</span>&nbsp; 
							<mat-icon class="like-span-mat-icon" (click)="likeVideo(-1)">thumb_down</mat-icon><span class="like-span"> {{videoReadayToplay?videoReadayToplay.videoDislikes:'0'}}</span>
						</div>
					</div>
				</div>
			</div>
			<mat-divider class="divider-archive-analyse"></mat-divider> 

			<div class="video-description-author ">
				<div class="row" style="padding-top: 9px"	>  
					<div class="col-12">
						<div class="col-3 video-author-avatar ">
							<div class="row">
									<div class="col-3"> 
										<img src="assets/norrlab/imageedit_43_5024767093.gif" class="advs-avatar main">
									</div>
									<div class="col-9 author-avatar"> 
										<div class="col-12 author-of-vid col-9">{{videoReadayToplay.videoUser.lastName}} {{videoReadayToplay.videoUser.firstName}}</div>
										<div class="col-12" style="padding-right: 6px;"> <p>{{videoReadayToplay.videoUser.userFollowers}} subscriber</p></div>
									</div>
							</div>
						</div> 
					</div> 
				</div>
			</div> 
			<mat-divider class="divider-archive-analyse"></mat-divider>
			<div class="video-description-author " *ngFor="let videoComment of videoComments">
				<div class="row" style="padding-top: 9px"	>  
					<div class="col-12">
						<div class="col-3 video-author-avatar">
							<div class="row">
									<div class="col-3"> 
										<img src="http://localhost:369/images{{(videoComment.videoCommentUser.userPictureUrl.length>0)?videoComment.videoCommentUser.userPictureUrl:'/default_user.png'}}" class="advs-avatar" alt="{{(videoComment.videoCommentUser.userPictureUrl.length>0)?videoComment.videoCommentUser.userPictureUrl:'/default_user.png'}}">
									</div>
									<div class="col-9" style="text-align: start;padding-left: 0px"> 
										<div class="col-12 author-of-vid col-9">  
											<div>
												{{videoComment.videoCommentUser.firstName}} {{videoComment.videoCommentUser.lastName}}
											</div>
										<span class="comment_date">{{videoComment.videoCommentDate | date : 'medium'}}</span>
										</div> 
									</div>
							</div>
						</div> 
						<div class="col-12"> 
							<p class="users-comments"> 
	 						 {{videoComment.videoCommentDescription}}
							</p>
						</div>			
					</div> 
				</div>
			</div>
			<div (click)="openCmtEdito()">

				<mat-expansion-panel #__matExpansionPanel [expanded]="norrlabExpanded === 1" class="add_comment" (opened)="norrlabExpanded = 1"
                       (closed)="matExpansionPanel($event)">
			    <mat-expansion-panel-header> 
			      <div class="col-12 add_comment_header">
			      	<mat-panel-description class="comment_panel_description">
			        Add public comment...
			      </mat-panel-description>	
			      </div>      
			    </mat-expansion-panel-header>
			    <mat-form-field class="video_comment_class" > 
			    	
			    	<div #__signIn class="col-12 showSignIn must-connect-comment" *ngIf="!asRight()">
					 	<mat-card  class="must-connect ">
					 		<div class="col-12">
					 			<mat-card-subtitle>	
					 			Comment this video?
				 			</mat-card-subtitle>
							<mat-card-content> 
								Sign in to make your opinion count.{{ableComment}}
						 	</mat-card-content>
					 		</div>
						 	<mat-divider></mat-divider> 
						 	<div  class="col-12 sign_in" style="text-align: start;display: inline-block;width: 100%;">
						 		
					          <span ><a [routerLink]="'/login'"  style="text-decoration: none;font-size: 13px;color: #0056b3;cursor: pointer;">SIGN IN</a></span> 
						 	</div>
					 	</mat-card>
					 </div>
				 	<div #__checkUser ><input (ngModelChange)="onTextChange($event)"  name="norrLabVideoTradeComment" [(ngModel)]="cmt.videoCommentDescription" matInput placeholder="" ></div>
				      
			    </mat-form-field>
			    <div class="col-12 video_comment_class_button"> 
				 	
  					<button (click)="cancelComment()" mat-flat-button >CANCEL</button>
  					<button (click)="valideComment()" [disabled]="__openCmtEdito" mat-flat-button class="mat_success">COMMENT</button>
			    </div>
			  </mat-expansion-panel>
			</div>
		</div>
		<div class="col-4"> 
			<div #__listFreeVideos style="padding:9px  "  class="row list-free-videos" *ngFor="let offVideo of weekFreeVideos"> 
				 <div class="col-6 img-video-cont"> 
				 	<div class="img-video-button">
					    
				 	<button mat-icon-button (click)="playCurrentVideo(offVideo._id)" class=" proposal-video" ><mat-icon>play_circle_outline</mat-icon></button> 
					 </div>																																																																		
			 		<img _ngcontent-rto-c10="" alt="..." class="mat-list-avatar-video mat-list-avatar " matlistavatar="" src="{{offVideo.videoPoster}}">
				 </div>	
				  <div class="col-6 img-video-cont-desc" style="
		}
		}
    padding-left: 0px;
    padding-right: 0px;
"> 
				 		<div>  <span class="video-proposition-title"> {{offVideo.videoTitle}}  </span></div>
				 		<div class="video-proposition-description row"> 
				 			<div class="video-proposition col-12">  <span > {{offVideo.videoDescription}} </span></div>

				 			<div class="video-proposition col-12">  <span > {{offVideo.videoViews}}&nbsp;views </span></div>
				 		</div>	
				 </div>	
			</div>	
			<div class="row"> 
				<div class="col-12 moreVideosOnDemands" style="	margin-top: 9px"> 
					<a mat-raised-button class="moreVideosOnDemandx" (click)="moreVideosOnDemand($event)">Voir plus de vidéos</a>
				</div>
			</div>	
		</div>
	</div>
