.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


mat-sidenav.mat-drawer.mat-drawer-side.mat-sidenav.ng-star-inserted.ng-tns-c5-0.ng-trigger.ng-trigger-transform.norrlab-side {
    padding-top: 64px;
    position: fixed;
}

mat-toolbar.example-toolbar.header-toolbar.mat-primary.mat-toolbar.mat-toolbar-single-row {
    z-index: 999;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #fafafb

}

.menu-footer {
    position: absolute;
    bottom: 0px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

mat-sidenav.norrlab-side.mat-drawer.mat-sidenav.ng-tns-c5-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted {
    width: 200px;
}

.sub-toolbar{
	height: 35px;
	background: #fff;
}

.example-spacer{
	flex:1 1 auto;
}

.row.main-container {
    margin: 19px;
    background-color:   #fff;
}
 
.trade-header {
    background: #8EE1B6;
    height: 50px;
}

.trade-footer {
    background: #8EE1B6;
    height: 50px;
}

.trade-content {
    height: 160px;
    padding: 9px;
}

.trade-container.ng-star-inserted {
    margin-top: 16px;
    cursor: pointer;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 50%
}

.trade-header[_ngcontent-rxa-c0] {
    
    height: 50px;
    justify-content: center;
    justify-items: center;
    padding: 3px;
}

.row.user-publications {
    padding-left: 25px;
    padding-right: 25px;
}

.trade-content {
    background: #fff;
}

.sub-menu {
    display: inline-block;
    padding: 4px;
    font-size: 15px;
    font-weight: 200;
}

.sub-menu>a { 
    margin: 10px;
}

.user-publications-date {
    color: #ccc;
    font-size: 13px;
}

.user-publications-name {
    font-size: 17px;
    font-weight: 500;
}

.row.user-publications>p {
    font-size: 15px;
    padding-top: 9px;
}

.col-6.trade-state-win {
    height: 100%;
    display: inline-block;
    margin-top: 18px;
    font-size: 15px;
    color: blue;
}

.trade-header.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-6.trade-state-produit {
    display: block;
    text-align: -webkit-right;
    /* justify-content: center; */
    /* justify-items: center; */
    padding: 18px;
}

span.trade-state-produit {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #ccc;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 300;
} 

mat-sidenav.norrlab-side.mat-drawer.mat-sidenav.ng-tns-c5-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted {
    background: #2f353a;
}

a.mat-list-item.ng-star-inserted {
    color: #fff;
}

mat-toolbar.example-toolbar.footer-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
    background-color: #f0f3f5;
}

img.norrlab-logo {
    height: 30px;
}

button.norrlab-menu-button.mat-icon-button {
    color: #ccc;
    height: 45px;
    margin-left: 9px;
}

button:focus {
    outline: 0 !important;
}

mat-nav-list.mat-nav-list.mat-list-base {
    padding-top: 0px;
}
 
 mat-card.example-card.mat-card.ng-star-inserted {
    margin: 9px;
}

.col-3.main-container-rights {
    margin-top: 9px;
     margin-bottom: 9px;

}

.user-presentation-content {
    width: 100%;
    display: inline-block;
    padding: 9px;
    background: #fff;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.user-presentation{
    width: 100%; 
}

.user-presentation-header {
    height: 35px;
    background: #8EE1B6;
    display: inline-block;
    padding-top: 3px;
    padding-left: 3px;
    width: 100%;
    font-size: 19px;
    font-weight: 500;
}
.trade-losses{
  background-color: #f44336
}
.trade-gains{
  background-color: #8EE1B6;
}

.trade-card-actions{
  text-align: end
}

img.mat-card-image {
    height: 245px;
}

.analyse-new{
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.side-header {
    background-color: #8EE1B6;
    /* height: 23px; */
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 9px;
}

.side-header-content {
       padding: 3px;
    font-size: 12px;
    font-weight: 300;
}

.side-header-content > p{ 
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.col-9.analyse-week-news {
    /* border: 1px dotted blue; */
    display: inline-block;
    max-width: 100%; 
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    word-break: break-all;
    cursor: pointer;
    font-size: 11px;
}

.divider-archive-analyse: last-child{
  display: none;
}

.main-container-rights > div{
  margin-top: 9px;
  background-color: #fff
}

.advs-content{
      background-color: #f0f3f5;
    /* display: inline-block; */
    max-width: 100%;
    padding: 10px;
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
    /* padding-left: 10px; */
    word-break: break-all;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
}

.video-content {
    background: #fff;
    height: 383px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    outline: none;
}

.player-video {
  width: 100%;
  height: 400px;
  outline: none;
}

.col-8.video-container {
   /* background: #fafafa;*/
}

.col-8.video-container > .col-12{
        background: radial-gradient(black, transparent);

}

.col-8.video-container {
    background: #fafafa;
}



.video{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  
}

.video-content-controls.col-12 {
    background-color: #8EE1B6;
    height: 58px; 
    margin-top: -5%; 

}

.video-progess.col-12 {
        height: 15px;
        width: 40%;
    background: red;
    opacity: 0.6;
    z-index: 10;  
    margin-top:   19px
}

.col-12.progress-vid.video-content-controls {
    padding-left: 0px;
    padding-right: 0px;
}

.bar-separation.col-12.progress-vid.video-content-controls {
    background: #fff;
    opacity: 0;
    transition:all 0.9s ease;
}

.bar-separation.col-12.progress-vid.video-content-controls:hover{
    background: #fff;
    opacity: 0.5;
    transition:all 0.9s ease;
}

.control-buttons{

}

button.norrlab-play-circle-button.mat-icon-button {
    /* font-size: 45px; */
    color: #fff;
    padding: 9px;
}

mat-slider.norrlab-play-circle-button.mat-icon-button {
    /* font-size: 45px; */
    color: #fff;
    padding: 9px;
    font-size: 39px;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 30px;
    
    margin-left: 10px;
}

.button-fullscreen-setting{

    display: inline-block;
    padding-right: 19px;
}

.norrlab-play-circle-button-right{
  margin-left: 19px
}

button.norr-slider.norrlab-play-circle-button.norrlab-play-circle-button-right.mat-icon-button {
    padding-top: 5px;
}

.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 6px;
    width: 100%;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #8EE1B6
}

.contains-controls{

 /*transition:all 1s ease;
  opacity:  0*/
}

.contains-controls:hover{
 /*transition:all 0.9s ease;
 opacity:   1*/
}

.video-description{
  background-color: #fff;
  
    margin-top: 41px;
}

.col-12.video-title-sub {
    font-size: 13px;
    font-weight: bold;
    color: #606060;

    margin-bottom: 15px;
}

.col-12.video-title {
    font-size: 19px;
    font-weight: bold;
}

.like-dislike{
  bottom:   0px;
}

.like-dislike{
    bottom: 25px;  
    right: 0px;
    text-align: end;
    position: relative;
    bottom: 0px;

    justify-content: center;
    width: 100%; 
    margin-right: 9px;
    margin-left: 0px; 
    padding-right: 6px;
}

.like-dislike>mat-icon{ 
     
    color:  #ccc;
}

.like-span{
    padding-top: 15px; 
    color: #ccc;
    font-size: 12px;
}

.video-description-user> div> .col-12>div{
  background:   #fff;
}


.video-description-author{
  background:   #fff; 
}
img.advs-avatar.main{
        height: 50px;
    width: 50px;
}

img.advs-avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 2px; 
    border: 1px solid #8EE1B6;
}

.video-author-avatar{
  padding:  16px;
  background-color:   #fff;
}

.author-of-vid.col-9 {
    font-size: 16px;
    position: ;
    /* bottom: 0; */
}

.users-comments{
  font-size: 12px;
    display: inline-block;
    /* padding: 9px; */
    margin-left: 20px;
    text-align: justify;
}

.list-free-videos{
  background:   #fff;
  padding:  3px;
}

.list-free-videos:last-child{
  margin-bottom:  9px;
  padding:  3px;
}

.video-list{
  height: 115px;
    width: 145px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    border-radius:  3px;
    cursor: pointer;
  border:   1px solid #8EE1B6;
  padding:3px;
}


.users-video-comments{

    padding-left: 6px;
}

.list-header{
  
    background-color: #8EE1B6;
    margin: 15px;
    font-size: 18px; 
    padding: 9px;
    text-align: center;
    color: #fff;
}
.like-dislike>mat-icon{
  cursor: pointer;
}

 .mat-list-avatar-video {
    flex-shrink: 0;
     width: 100%;
    height: 90%;
    padding: 2px;
    border: 1px solid #fafafa;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #fafafb;
    object-fit: cover;
    border-radius:  1px
}

.video-proposition{
    font-size:  13px
}

.proposal-video{
  color:  #8EE1B6
}

.img-video-button{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.video-proposition-title {
    font-size: 16px;
    color:  black
}
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

.minimal { 
    position: relative;
    font-size: 0;
    overflow: hidden; 
    cursor: pointer;
}

.ckin__player {
    margin-bottom: 20px;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    letter-spacing: 0.02em;
}

.minimal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    transition: opacity .2s;
    opacity: 1;
    visibility: visible;
}

.ckin__overlay:before {
    background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
}

/**************************************************************************************************
video
******************************************************************************************************/
video {
    display: inline-block;
}

video {
    width: 100%;
    height: auto;
    cursor: pointer;
} 
video {
    object-fit: contain;
}
/**************************************************************************************************
button******************************************************************************************************/
 
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, hr, input {
    overflow: visible;
}


.minimal__button--big {
    background: none;
    border: 0;
    line-height: 1; 
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    font-size: 64px;
    transition: all .2s ease-in;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, select {
    text-transform: none;
}


/**************************************************************************************************
i ******************************************************************************************************/

[class^="ckin-"], [class*=" ckin-"] {
    font-family: 'ckin' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




/**************************************************************************************************
controls ******************************************************************************************************/
.containing-minimal__controls{

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


.minimal__controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #8EE1B6; 
    font-size: 17px;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 1; 
    cursor: auto;
}

.minimal__button {
    background: none;
    border: 0;
    line-height: 1;
    color: #00CF7D;
    outline: 0;
    padding: 0;
    cursor: pointer;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    max-width: 50px;
}

.up-to-minimum-control-progresse{
  background-color: #000; /*#8EE1B6;*/
    opacity: 0.2;
    width: 65%;
    height: 9px;
    /* top: 0px; */
    z-index: 999;
    /* position: absolute; */
    width: 100%;

    padding-left: 0px;
    padding-right: 0px;

}
.up-to-min{
  background-color: red;
  width: 65%;
  height: 9px;
  opacity:  1
}
.containing-minimal__controls{ 
      cursor: inherit;
    -ms-transform: translateY(0);
    transform: translateY(0);  
    transition: all .5s;
}

.minimal.is-playing .containing-minimal__controls{
    -ms-transform: translateY(90%); 
    transform: translateY(90%);
}


.minimal.is-playing:hover .containing-minimal__controls{transform:translateY(0)}


.central-video{
  font-size: 171px;
    color: #8EE1B6;
}


.controls  .menu {
    display: flex;
    background: green;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
}

.controls  .progress {
    height: 1px;  
    opacity: 0.1;
}

.controls[_ngcontent-ynm-c8] .progress[_ngcontent-ynm-c8] {
    height: 26px;
}

.contain-like-block{
     
}